# Data download files
data_download.md
data_download.sh

# VS Code settings
.vscode/

# Playground directory
playground/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

# Environment
.env
.venv
env/
venv/
ENV/

# Logs
*.log

# Additional files
llama_explorer.py
llava_explorer.ipynb
llava_explorer.md
llava_explorer.py
tmux-trix.md
tokens.txt 
*.pyc
*.egg-info
playground/
wandb/*
checkpoint/*
